sqlalchemy==1.4.23
python-jose[cryptography]
passlib[bcrypt]
sqlmodel
fastapi
uvicorn
python-multipart
# for postgres
psycopg2

# dev
# anyio
# pytest
# pytest-asyncio
# pytest-tornasync
# pytest-trio
# pytest-twisted
