{% extends 'base.html' %}
<!-- table.table>thread>tr>th*3 -->

{% block content %}
<table class="table table-bordered table-hover">
    <thread>
        <tr>
            <th>Title</th>
            <th>Genre</th>
            <th>Stock</th>
            <th>Daily Rate</th>
        </tr>
    </thread>
    <!-- tbody>tr>td*4 -->
    <tbody>
        {% for movie in movies %}
        <tr>
            <td>
                {% comment %} <a href="/movies/{{ movie.id }}"> {% endcomment %}
                <a href="{% url 'movies:detail' movie.id %}">
                    {{ movie.title }}
                </a>
            </td>
            <td>{{ movie.genre }}</td>
            <td>{{ movie.numbers_in_stock }}</td>
            <td>{{ movie.daily_rate }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
